p {font-family: 'Calibri';}

h1, h2 {font-family: 'Courier New'; color: red;}

body {font-family: 'Calibri'; text-align: justify;}

img {float: right; margin: 10px;}

a:link {color: red;}
a:visited {color: green;}

ul {list-style-type: square;}
ol {list-style-type: lower-roman}

table {width: 400; height: 200;}
td:nth-child(2), td:nth-child(3) {text-align: center;}
tr:nth-child(even) {background-color: lightgray}
tr:hover {background-color: lightblue;}

input[type="submit"]:hover {background-color: red;}
input[type="submit"]:active {background-color: green;}

